body{
	margin: 0;
	color: #3F3F3F;
	font-size: 11pt;
	font-family: Arial,Helvetica,sans-serif;
}
#menu {
	position: fixed;
	padding: 10px;
	height: 24px;
	z-index: 3;
	width: 100%;
	background-color: #5F5F5F;
	color: #DDD;
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 1);
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 1);
	background: -moz-linear-gradient(center top , #333333, #111111) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#111111));
	left:0;
	top:0;
}
	.intitule {
		float: left;
		font-size: 18px;
		font-weight: bold;
		color: #888888;
		margin-right: 12px;
	}
#content {
	margin-top: 54px;
}

label {
	display: block;
	font-weight: bold;
	margin: 5px;
}

input[type=text] {
	width: 95%;
}

textarea {
	width: 95%;
}

input[type=submit] {
	padding: 10px;
	width: 95%;
	margin: 10px;
}
.msgRetour {
	padding: 4px;
	background-color: #DDDDDD;
	border: 1px solid #AAAAAA;
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 1);
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 1);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0 auto;
	text-align: center;
}