body{
	margin: 0;
	color: #3F3F3F;
	font-size: 11pt;
	font-family: Arial,Helvetica,sans-serif;
	background: #858272 url(../media/bg_gradient.png) repeat-x top left;
}

a{
	color: #333;
	text-decoration: none;
}
a:hover{
	color: #5F5F5F;	
}

#overlay{
	position: fixed;
	top: 0;
	background: transparent url(../media/pix_fonce.png) repeat fixed top left;
	z-index: 2;
	width: 100%;
	min-height: 100%;
}


	.bulle{
		background-color: #2a2a2a;
		margin: 64px auto 0;
		padding: 16px;
		font-size: 12px;
		color: #DDD;
		width: 80%;
		-moz-border-radius: 16px;
		-webkit-border-radius: 16px;
		-moz-box-shadow:0 0 5px rgba(0, 0, 0, 1);
		-webkit-box-shadow:0 0 5px rgba(0, 0, 0, 1);
	}
		.bulle #closer{
			cursor:pointer;
			float:right;
			margin:-32px;
		}
		.bulle form {
			margin-bottom: 16px;
		}
		.bulle .title {
			font-size: 16px;
			color: #CCCCCC;
			font-weight: bold;
			margin-bottom: 8px;
			border-bottom: 2px solid #CCCCCC;
		}
		.bulle .subTitle{
			color: #888888;
			margin-bottom: 8px;
		}

#menu {
	position: fixed;
	padding: 10px;
	height: 24px;
	z-index: 3;
	width: 100%;
	background-color: #5F5F5F;
	color: #DDD;
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 1);
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 1);
	background: -moz-linear-gradient(center top , #333333, #111111) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#111111));
	left:0;
	top:0;
}
	#hashtag {
		float: left;
		font-size: 18px;
		font-weight: bold;
		color: #888888;
		margin-right: 12px;
	}
	#options {
		float: right;
		margin-right: 15px;
		border: 1px solid #000000;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		padding: 3px 6px;
	}
		#options:hover {
			border: 1px solid #AAAAAA;
			cursor: pointer;
		}

#subMenu{
	/* Hauteur du menu qui est en fixed */
	margin-top: 44px;
	padding: 10px;
	background-color: #555555;
	color: #000000;
}

#containerMsg{
	position: relative;
	width: 100%;
	left: -40px;
	list-style-type: none;
	margin: 0;
	top: 44px;
}


#hiddenForm{
	display: none;
	float: left;
	padding: 2px;
	font-size: 10px;
}


.msg, .msgNew, .msgOK, .msgNO{
	margin-bottom: 0;
	padding: 5px;

	background-color: #eee; 
}

.msgOK, .msgNew {
	background: #f0eac8 url(../media/bg_msg_grad_ok.png) repeat-x top left;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #d4cfb1;
}
.msgNew {
	border: 1px solid #FFFFFF;
}
.msgNO {
	background: #848170 url(../media/bg_msg_grad_no.png) repeat-x top left;
	border-top: 1px solid #dfddd4;
	border-bottom: 1px solid #6e6b5c;
}
.author{
	color: #2B2B2B;
	font-weight: bold;
}
.textMsg{
	/*font-weight: bold;*/
}
.time, .debug {
	color: #b8aa88;
}

	.msgNO .time {
		color: #EEEEEE;
	}

	.msgOK:hover, .msgNO:hover {
		border-top: 1px solid #828282;
		border-bottom: 1px solid #565656;
	}

.avatar {
	width: 48;
	height: 48px;
	float: left;
	margin-right: 5px;
}

/* Moderation */

.togoff{
	background: transparent url(../media/button-modo.png) no-repeat 0 0;
	width: 52px;
	height: 20px;
	margin-top: -1px;
}

.togon{
	background: transparent url(../media/button-modo.png) no-repeat 0 -20px;
	width: 52px;
	height: 20px;
	margin-top: -1px;
}


.bulOff{
	background: transparent url(../media/bulle_toggle.png) no-repeat 0 0;
	width: 24px;
	height: 20px;
	margin-top: -1px;
	margin-right: 10px;
}

.bulOn{
	background: transparent url(../media/bulle_toggle.png) no-repeat 0 -20px;
	width: 24px;
	height: 20px;
	margin-top: -1px;
	margin-right: 10px;
}

