body{
	margin: 0;
	color: #3F3F3F;
	font-size: 11pt;
	font-family: "MuseoSlab-500",Arial,Helvetica,sans-serif;
	background-color: #CCCCCC;
	overflow: hidden;
}
a{
	color: #B4E2DD;
	text-decoration: none;
}
a:hover{
	color: #ffffff;	
}

#hiddenForm{
	display: none;
}

#overlay{
	position: absolute;
	margin: -10px;
	background: transparent url(media/pix_overlay.png) repeat fixed top left;
	width: 1280px;
	height: 100%;
	z-index: 3;
}
	#bulleMsg{
	/* Ne pas fixer de taille, la bulle doit pouvoir s'étirer en hauteur */
		margin: 300px auto;
		width: 830px;
	}
		.bulleTop{
			background: transparent url(media/bulle_top.png) no-repeat top left;
			height: 53px;
		}
		.bulleCenter{
			background: transparent url(media/bulle_center.png) repeat-y top left;
			/*height: 286px;*/
			padding: 10px 60px 0;
			font-size: 24px;
			color: #1A171B;
		}
			.bulleCenter span {
				color: #005D8B;
			}
			.bulleCenter .time {
				float: right;
				margin-top: 10px;
			}
		.bulleBottom{
			background: transparent url(media/bulle_bottom.png) no-repeat top left;
			height: 57px;
		}

#menu {
	position: fixed;
	padding: 0;
	z-index: 6;
	width: 100%;
	height: 60px;
	left:0;
	top:0;
	background: transparent url(media/header.png) repeat-x bottom left;
}

	#infos {
		float: right;
		margin: 20px 20px 0 0;
	}
	


#wrapper {
	width: 1280px;
	margin: 0 auto;
}
	#menuOmbre {
		position: fixed;
		z-index: 5;
		top: 0;
		width: 1280px;
		height: 70px;
		margin: 0 auto;
		background: transparent url(media/ombre-header.png) no-repeat top left;
	}
	
	#background {
		z-index: 1;
		position: fixed;
		/*bottom: 133px;*/
		background: transparent url(media/smswall.png) 20px 20px no-repeat;
		width: 1280px;
		height: 348px;
	}
	
	#containerMsg{
		width: 680px;
		margin: 60px 300px;
		list-style-type: none;
		padding-left: 0;
		z-index: 2;
		position: fixed;
	}
	
	#footer{
		position: fixed;
		bottom: 0;
		width: 100%;
		z-index: 4;
		background: #FFFFFF url(media/footer_bckgnd.png) top left repeat-x;
		
	}
	
	#ftContainer{
		background: url("media/footer.png") no-repeat scroll left top #FFFFFF;
	    height: 50px;
	    margin: 0 auto;
	    padding-top: 15px;
	    width: 1280px;
	}
	
	#ftContent{
		background: url("media/copyright.png") no-repeat scroll left top transparent;
	    height: 22px;
	    margin: 0 auto;
	    width: 156px;
	}

.menuAdmin:hover{
	opacity: 1;
}

.msg, .msgNew, .msgOK, .msgNO {
	margin-bottom: 8px;
	padding: 8px;
	border: 1px solid #eeeeee;
	background-color: #ffffff;
	line-height: 22px;
	font-size: 18px;
	-moz-box-shadow: 0 0 4px rgba(100, 100, 100, 1);
	-webkit-box-shadow: 0 0 4px rgba(100, 100, 100, 1);
}

.staticClose, .staticOpen, .animClose, .animOpen {
	margin-bottom: 8px;
	padding: 8px;
	border: 1px solid #eeeeee;
	background-color: #ffffff;
	line-height: 22px;
	font-size: 18px;
	-moz-box-shadow: 0 0 4px rgba(100, 100, 100, 1);
	-webkit-box-shadow: 0 0 4px rgba(100, 100, 100, 1);
}

	#splash {
		font-size:28px;
		line-height:38px;
		padding:16px;
		-moz-box-shadow: 0 0 32px rgba(0, 0, 0, 1);
		-webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 1);
	}

.staticClose, .animOpen {
	display: none;
}

.msgNew {
	/*border: 1px solid #FFFFFF;*/
}

.author{
	color: #EEEEEE;
	background-color: #3F3F3F;
	font-weight: bold;
	padding: 2px 4px;
}
	#splash .author {
		padding: 4px 8px;
	}
.textMsg{
	font-weight: bold;
}
.time, .debug {
	color: #8a8a8a;
	font-weight: bold;
}

.avatar {
	width: 48;
	height: 48px;
	float: left;
	margin-right: 8px;
}
.avatarbig {
	max-height: 150px;
	max-width: 150px;
	float: left;
	margin-right: 16px;
}